{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block main %}
    <section>
        <article class="row d-flex justify-content-center">
            <div class="col-12 col-lg-12 list-text d-flex justify-content-center" >
                <h1>Tous les jeux disponibles</h1>
            </div>
            {% for elem in gameTitle %}
                <div class="card col-8 col-lg-3">
                    <img class="card-img-top" src="{{ asset('assets/img/pictures') }}/{{ elem.picture }}" alt="Card image cap">
                    <div class="card-body">
                        <a href="{{ path('games_show', {'id': elem.id}) }}"><h4>{{ elem.title }}</h4></a>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>

{% endblock %}