{% extends 'base.html.twig' %}

{% block title %}Game Rules{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <article class="row d-flex justify-content-center">
                <div class="col-12 my-5 text-center" >
                    {% if gameTitle|length(1) %}
                        <h2>Le jeu trouvé</h2>
                    {% else %}
                        <h2>Les jeux trouvés</h2>
                    {% endif %}
                </div>
                <div class="row d-flex justify-content-center">
                    {% for elem in gameTitle%}
                        <div class="card bg-secondary col-12 m-2 p-2">
                            <img class="card-img-top rounded" src="{{ asset('assets/img/pictures') }}/{{ elem.picture }}" alt="Card image cap">
                            <a class="btn btn-secondary active mt-2" href="{{ path('games_show', {'id': elem.id}) }}" role="button">{{ elem.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </div>
    </section>
{% endblock %}