{% extends 'base.html.twig' %}

{% block title %}Games Rules{% endblock %}

{% block main %}
<main>
    <section>
        <div class="container my-5" >
            <article class="row " >
                <div class="col-12 col-lg-12 text-center" >
                    <h3>Quelle règle de jeu cherchez-vous?</h3>
                </div>
                <div class="search-anim" >
                    <form id="content" action="{{ path('games_search') }}" method="get">
                        <input type="text" name="title" class="input" id="search-input">
                        <button type="button" class="search" id="search-btn"></button>
                    </form>
                </div>
            </article>
        </div>
    </section>
    <section>
        <div class="container" >
            <article class="row">
                <div class="col-12" >
                    <h5>Derniere Règle de jeux ajoutees</h5>
                </div>
            </article>
            <article class="row justify-content-center">
                {% for game in games|slice(-4) %}
                    <div class="card-game-home col-8 col-lg-2" id="cardJs">
                        <a href="{{ path('games_show', {'id': game.id}) }}">
                            <img class="card-game-home-img" src="{{ asset('assets/img/pictures') }}/{{ game.picture }}" alt="Card image cap">
                        </a>
                    </div>
                {% endfor %}
            </article>
        </div>
    </section>
</main>
{% endblock %}
