{% extends 'base.html.twig' %}

{% block title %}Hello GamesRulesController!{% endblock %}

{% block main %}
    <section>
        <h1>Quel regle de jeux cherchez-vous?</h1>
        <article>
            <div class="search">
                <form action="" method="get">
                    <input type="text" name="name">
                    <button type="submit">Search</button>
                </form>
            </div>
        </article>
    </section>
    <section>
        <h1>derniere Regle de jeux ajoutees</h1>
        <article class="card-show">
            <div class="card">
                <img src="http://via.placeholder.com/100" alt="" class="resp">
                <div class="container">
                    <h4><b>Name</b></h4>
                </div>
            </div>

        </article>
    </section>
{% endblock %}
