{% extends 'base.html.twig' %}

{% block title %}Hello GamesRulesController!{% endblock %}

{% block main %}

    <article class="card-show">
        <div class="card">
            <img src="http://via.placeholder.com/100" alt="" class="resp">
            <div class="container">
                <h4><b>Name</b></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida libero. Integer non placerat ex, non semper purus. Curabitur eget lacus sed justo tempus sodales gravida at nunc. Praesent malesuada quis neque blandit feugiat. Quisque magna odio, dignissim a arcu nec, mattis luctus velit. Aliquam sed sapien laoreet augue consectetur sagittis eu eget massa. Duis mi turpis, sollicitudin at nibh nec, tristique fringilla velit. Donec rhoncus condimentum semper.
                </p>
            </div>
        </div>
    </article>
{% endblock %}