@import "font";
.connected{
  color: #ffcc00;
  font-family: $text;
}
.img-game-admin{
  width: 50px;

}

.games-list{
  width: 100%;
  background-color: #C9C9C9;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 40px;

}