@import'color';
@import'init';
@import'font';


.container {
  padding: 2px 16px;
}

.card-game-home {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  transition: 0.3s;
  border-radius: 10px;
  background-color: darkgray;
  margin: 10px;
  padding: 10px;
}

.card-game-home:hover {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.4);
  transform: scale(1);

}
.card-game-home-img{
  width: 100%;
}
