@import'color';

#topBtn{
  width: 40px;
  height: 40px;
  position:fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  background-color: $primary-color;
  color: $lightgray;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  z-index: 3;
  display: none;
}