@import'navbar';
@import'card';
@import'card-show';
@import'search-box';
@import'init';
@import'font';
@import'admin';
@import'comment';
@import'media-queries';
@import'menu-burger';
@import'color';
@import'search-bar';
@import'footer';
@import'scrollUp-arrow';

#game-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-box{
  font-family: $titre;
}

.games-list{
  width: 100%;
  background-color: #C9C9C9;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 40px;

}
//-----------register-------------
.wrapper{
  margin-top: 80px;
  margin-bottom: 80px;
}
.form-signin{
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid black;
}
.form-control{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

//----css page games----------
.list-text{
  font-family: $titre;
  margin: 40px;
}

.logo-head{
  width: 100%;
}
