@import'navbar';
@import'card';
@import'card-show';
@import'search-box';
@import'init';
@import'font';

#game-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-box{
  font-family: $titre;
}
//----css page games----------
.list-text{
  font-family: $titre;
  margin: 40px;
}
