<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block bootstrap %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="logo">
                    Logo texte ou image
                </div>
                <div class="links">
                    <ul>
                        <li><a href="{{ path('home') }}">Acceuil</a></li>
                        <li><a href="{{ path('games') }}">Jeux</a></li>
                        <li><a href="{{ path('game_create') }}">Create</a></li>
                        <li><a href="#">LogIn</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        {% block main %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
